@{
  Layout = "_Layout";
}


<h1>Add a vendor here:</h1>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor Name</label><br>
  <input id="vendorName" name="vendorName" type="text"><br>
  <label for="vendorBusiness">Vendor Business </label><br>
  <input id="vendorBusiness" name="vendorBusiness" type="text" rows="3" ></textarea><br>
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/vendors">Back to vendors.</a></p>