
p1 {
  color: red;
}

.container {
  margin: 20px;
  color: rgb(68, 160, 160);
  background-color: antiquewhite;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
	border-top: 10px;
	padding: 10px;
	border: 10px;
	padding: 10px;
	max-width: 75%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px;
	color:blueviolet;
	margin-top: 15%;
}


footer {
  background-color: black;
  color: #ffffff;
  padding: 10px;
  /* position: sticky; */
  bottom: 100;
	max-width: 75%;
	margin: 0 auto;
}
body {
  background-image: url('./bakery.jpeg');
  color: rgb(95, 39, 237);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 20vh;
  align-items: left;
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 10px;
  padding: 10px;
  margin: 10px;
  opacity: 75%;
}
button {
  color: whitesmoke;
	background-color: rgb(68, 160, 160);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img 
{
	width: 50%;
	height: relative;
	margin-left: 20%;
	border-radius: 10px;
	border-color: rgb(255, 178, 96);
	border-width: 3px;
	border-style: solid;
}